.child {
    font-size: 2rem;
    padding: 2rem;
    span{
        color: grey;;
    }
    p{
        margin: 0;
    }
}

.child2{
    img {
     transform: rotate(90deg);
    } 
 }

.child6{
    span{
        color: lightgreen
    }
}




